/*ESTILOS GENERALES PROYECTO----------------------------*/

*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
    
body{
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url("./imagenes/fondoNuevo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin:0 auto;
}

.container{
    margin: 0 auto;
}

/*HEADER Y FOOTER EN COMUN-----------------------------------*/
header{
    text-align: center;
}

#logo{
    margin-bottom: 20px;
}

.imagenLogo{
    width: 100px;
}

nav ul{
    list-style: none;
    margin-bottom: 50px;
}

nav li{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

nav li a{
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2em;
}

nav li a:hover{
    color:#c78c19;
}

footer{
    text-align: center;
    color: whitesmoke;
}


/*INDEX-------------------------------------------------------------*/

#principal{
    border: 2px solid whitesmoke;
    margin: 25px;
}

.parrafo{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

.parrafo em{
    color: #c78c19
}

.linea{
    margin: 0 0 20px 25px;
    color: #c78c19;
    font-size: 1.5em;
}

.listaDiferenciales{
    list-style: square;
    margin:0 0 30px 45px;
}

.items{
    margin-bottom: 20px;
    font-size: 1.5em;
    color: whitesmoke;
}

#imagenDiferenciales{
    margin: 0 auto 20px;
    text-align:center
}

#imagenDiferenciales img{
    width: 50%;
}

.enlaces{
    margin: 0 auto 20px;
    text-align: center;
}

.enlaces iframe{
    border: 1px solid #c78c19 ;
}


/*PRODUCTOS---------------------------------------*/

.productos{
    text-align: center;
    border: 2px solid whitesmoke;
    border-top: 10px solid whitesmoke;;
    margin: 20px;
    border-radius: 10px;
}


.productos img{
    filter: invert(100%);
    opacity: 70%;
    border:2px solid #2519c7;
    margin-bottom: 20px;
}

.precio, .productos h2{
    color: #c78c19;
    text-transform: uppercase;
    margin: 20px;
    font-size: 1.3em;
    font-weight: 600;
}

.productoDescripcion{
    color: whitesmoke;
    font-size: 1.5em;
    margin: 30px;

}

.productos:hover{
    border: 2px solid #c78c19 ;
    border-top: 10px solid #c78c19;
    scale: 1.1;
    transition: 1s all;
}

/*FORMULARIO--------------------------------------*/


#formulario{
    text-align: center;
}
.inputPadron, textarea{
    margin:15px;
    width:60%;
    opacity: 80%;
}

.labelForm{
    font-size: 1.5em;
    color: whitesmoke;
    display: block;
    margin:10px;
}

.botonesContacto label{
    color:#c78c19;
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 1.3em;
}
option{
    font-size: 1em;
}

.horario select, .check{
    margin: 20px;
}

#formulario p{
    color: #c78c19;
    font-size: 1.5em;
}

.enviar{
    margin:20px;
    background-color:#c78c19 ;
    font-size: 1em;
    font-weight: bold;
    padding:15px;
}

.enviar:hover{
    border: 2px solid whitesmoke ;
    scale: 1.1;
    transition: 1s all;
}








