/*ESTILOS GENERALES PROYECTO----------------------------*/

*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
    
body{
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url("./imagenes/fondoNuevo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin:0 auto;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}

/*HEADER Y FOOTER EN COMUN-----------------------------------*/
header{
    text-align: center;
}

#logo{
    margin-bottom: 20px;
}

.imagenLogo{
    width: 100px;
}

nav ul{
    list-style: none;
    margin-bottom: 50px;
}

nav li{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

nav li a{
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1em;
}

nav li a:hover{
    color:#c78c19;
}

footer{
    text-align: center;
    color: whitesmoke;
}


/*INDEX-------------------------------------------------------------*/

#principal{
    border: 2px solid whitesmoke;
    margin: 25px;
}

.parrafo{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

.parrafo em{
    color: #c78c19
}

.linea{
    margin: 0 0 20px 25px;
    color: #c78c19;
    font-size: 1.5em;
}

.listaDiferenciales{
    list-style: square;
    margin:0 0 30px 45px;
}

.items{
    margin-bottom: 20px;
    font-size: 1.5em;
    color: whitesmoke;
}

#imagenDiferenciales{
    margin: 0 auto 20px;
    text-align:center
}

#imagenDiferenciales img{
    width: 50%;
}

.enlaces{
    margin: 0 auto 20px;
    text-align: center;
}

.enlaces iframe{
    border: 1px solid #c78c19 ;
}


/*PRODUCTOS---------------------------------------*/

.productos{
    text-align: center;
    border: 2px solid whitesmoke;
    border-top: 10px solid whitesmoke;;
    margin: 20px;
    border-radius: 10px;
}


.productos img{
    filter: invert(100%);
    opacity: 60%;
    border:2px solid #b7b6c2;
    margin-bottom: 20px;
}

.precio, .productos h2{
    color: #c78c19;
    text-transform: uppercase;
    margin: 20px;
    font-size: 1.3em;
    font-weight: 600;
}

.productoDescripcion{
    color: whitesmoke;
    font-size: 1.5em;
    margin: 30px;

}

.productos:hover{
    border: 2px solid #c78c19 ;
    border-top: 10px solid #c78c19;
    scale: 1.1;
    transition: 1s all;
}

/*FORMULARIO--------------------------------------*/


#formulario{
    text-align: center;
}
.inputPadron, textarea{
    margin:15px;
    width:60%;
    opacity: 80%;
    box-shadow: 2px 2px 5px 1px #c78c19;
}

.inputPadron{
    height: 30px;
}

.labelForm{
    font-size: 1.5em;
    color: whitesmoke;
    display: block;
    margin:10px;
}

.botonesContacto label{
    color:#c78c19;
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 1.3em;
}
option{
    font-size: 1em;
}

.horario select, .check{
    margin: 20px;
}

#formulario p{
    color: #c78c19;
    font-size: 1.5em;
}

.enviar{
    margin:20px;
    background-color:#c78c19 ;
    font-size: 1em;
    font-weight: bold;
    padding:15px;
    border-radius: 5px;
    cursor:pointer;
    transition: 1s all;
}

.enviar:hover{
    border: 2px solid whitesmoke ;
    scale: 1.1;
}

#tabla{
    margin:50px auto;
    font-size: 1em;
}

#tabla th{
    color: whitesmoke;
    background-color: grey;
    padding: 1opx;
    border: 1px solid white;
}

#tabla td{
    background-color: #c78c19;
    padding: 10px;
    border: 1px solid white;
}

/*Media queries-----------------------------------------*/

@media screen and (min-width: 940px){


    #headerFooter{
        max-width: 940px;
        margin: 0 auto;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #navegador{
        margin-top: 100px;
    }

    /*Media queriesINDEX---------------------------------------------*/

    #contenidoDiferenciales .container{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #imagenDiferenciales img{
        text-align: left;
        width:300px;
    }

    #mapa{
        width:100%
    }

    /*Media queriesPRODUCTOS----------------------------------------*/

    #mainProductos .container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
   
    .productos img{
        width: 80%;
    }

    /*Media queriesCONTACTO-------------------------------------------*/


    #formulario{
        width:940px;
        text-align: left;
        margin-left: 100px;
    }

    .inputPadron{
        height: 50px;
    }

    #tipoContacto{
        text-align: left;
    }

    .botonesContacto label{
        text-align: left;
    }

    .enviar{
        width: 60%;
        margin-bottom: 50px;
    }
    #tabla{
        margin-left:150px;
        font-size: 1em;
    }

}







