/*ESTILOS GENERALES PROYECTO----------------------------*/

*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
    
body{
    background-color: rgb(39, 33, 33);
    margin:0 auto;
}

.container{
    margin: 0 auto;
}

/*HEADER Y FOOTER EN COMUN-----------------------------------*/
header{
    text-align: center;
}

#logo{
    margin-bottom: 20px;
}

.imagenLogo{
    width: 150px;
}

nav ul{
    list-style: none;
    margin-bottom: 50px;
}

nav li{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

nav li a{
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
}

nav li a:hover{
    color:#c78c19;
}

footer{
    text-align: center;
    color: whitesmoke;
}


/*INDEX-------------------------------------------------------------*/

#principal{
    border: 2px solid whitesmoke;
    margin: 25px;
}

.parrafo{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
}

.parrafo em{
    color: #c78c19
}

.linea{
    margin: 0 0 20px 25px;
    color: #c78c19;
    font-size: 1.5em;
}

.listaDiferenciales{
    list-style: square;
    margin:0 0 30px 45px;
}

.items{
    margin-bottom: 20px;
    font-size: 1.5em;
    color: whitesmoke;
}

#imagenDiferenciales{
    margin: 0 auto 20px;
    text-align:center
}

#imagenDiferenciales img{
    width: 50%;
}

.enlaces{
    margin: 0 auto 20px;
    text-align: center;
}


/*PRODUCTOS---------------------------------------*/

.productos{
    text-align: center;
    border: 2px solid whitesmoke;
    border-top: 10px solid whitesmoke;;
    margin-bottom: 30px;
}
.productos h2, p{
    color: whitesmoke;
    font-size: 1.5em;
    margin: 30px;
}

.productos img{
    filter: invert(100%);
    opacity: 70%;
    border:2px solid #2519c7;
}

.precio, .productos h2{
    color: #c78c19;
}

.productos:hover{
    border: 2px solid #c78c19 ;
    border-top: 10px solid #c78c19;
    scale: 1.1;
}

